* {
    margin: 0px;
    padding: 0px;
}

.header-content {
    width: 100%;
    height: 90px;
    background-color: #1e1818;
}

.header-box {
    width: 600px;
    height: 250px;
    background-color: #221E1E;
    transform: rotate(-23deg);
    position: absolute;
    z-index: 2;
    margin-top: -150px;
    margin-left: -170px;
}

.header-li {
    font-family: 'italiana';
    font-size: 25px;
    color: white;
    line-height: 90px;
    text-decoration: none;
    width: 40px;
    height: 20px;
    z-index: 4;
    position: relative;
    margin-left: 45%;
    margin-right:50%;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;
    float: left;
    width: 110px;
}

.header-box-title {
    font-family: 'title';
    font-size: 50px;
    z-index: 3;
    position: absolute;
    color: white;
    top: 2%;
    padding-left: 2%;
}

.menubanner {
    width: 100%;
    height: 330px;
    position: relative;
    filter: brightness(75%);
    filter: drop-shadow(10%);
    overflow-x: hidden;
    background-image: url("../Images/homebanner3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.menu-title {
    justify-content: center;
    color: white;
    font-family: 'title';
    font-size: 80px;
    text-align: center;
    line-height: 220px;
}

.menu-item-box {
    width: 158px;
    height: 45px;
    background-color: #373333;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 48px;
    color: white;
    border: 1.4px solid white;
    font-family: 'italianno';
    font-size: 29px;
    margin-top: -30px;
    cursor: pointer;
}

.info-box {
    width: 100%;
    height: 350px;
    background-color: #373333;
    margin-top: -4px;
}

@font-face {
    font-family: 'title';
    src: url(../fonts/MeaCulpa-Regular.ttf);
}

@font-face {
    font-family: 'italianno';
    src: url(../fonts/Italianno-Regular.ttf);
}

@font-face {
    font-family: 'italiana';
    src: url(../fonts/Italiana-Regular.ttf);
}

@font-face {
    font-family: 'inria';
    src: url(../fonts/InriaSerif-Regular.ttf);
}

.info-box-title {
    font-family: 'italianno';
    font-size: 54px;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    width: 200px;
}

.info-box-text {
    font-family: 'inria';
    font-size: 16px;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    max-width: 600px;
}

.overonsmenu {
    background-image: url("../Images/overonsmenu.jpg");
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    float: right;
    margin-top: -170px;
}

.info-box2 {
    width: 100%;
    height: 350px;
    background-color: rgb(105, 104, 104);
}

.info-box2-title {
    font-family: 'italianno';
    font-size: 65px;
    color: white;
    padding-top: 30px;
    text-align-last: center;
    height: auto;
}

.info-box2-text1 {
    font-family: 'inria';
    font-size: 17px;
    padding-top: 15px;
    color: white;
    text-align: center;
}

.info-box2-text {
    font-family: 'inria';
    font-size: 17px;
    padding-top: 5px;
    color: white;
    text-align: center;

}

.info-box2-interbox {
    width: 85%;
    height: 330px;
    left: 7%;
    background-color: rgb(32, 30, 30);
    z-index: 4;
    position: absolute;
    margin-top: -30px;
}

.footer-box {
    width: 100%;
    height: 50px;
    background-color: black;
    border-top: 1.2px solid white;
}

.logoprof {
    width: 140px;
    height: 78%;
    float: right;
    z-index: 3;
    position: relative;
    margin-top: 4px;
    margin-right: 5px;
}

.foldmenu {
    width: 53px;
    height: 53px;
    background-color: #5C5C5C;
    border-radius: 10px;
    float: right;
    margin-right: 50px;
    z-index:30;
}

.menu-icon {
    margin-top: 12%;
    margin-bottom: 50%;
    margin-left: 5%;
}
@media only screen and (max-width: 500px) {
    .header-box {
        width: 200px;
        height: 100px;

    }
}   
.michelin1{
    width: 37px;
    height: 30px;
    position: absolute;
    float: left;
    z-index: 10;
    margin-top:85px;
    margin-left:1%;
}
.michelin2{
    width: 37px;
    height: 30px;
    position: absolute;
    float: left;
    z-index: 10;
    margin-top:85px;
    margin-left:3.3%;
}
.michelin3{
    width: 37px;
    height: 30px;
    position: absolute;
    float: left;
    z-index: 10;
    margin-top:85px;
    margin-left:5.5%;
}
#slideMenu {
    display: none;
    background-color: rgb(24, 23, 23);
    width: 15%;
    height: 270px;
    position: absolute;
    margin-left:82%;
    margin-top:56px;
    z-index: 100;
    border-radius: 10px;
}
#slideMenu p{
    color:white;
    text-align: center;
    margin-top:10px;
    font-family: 'inria';
    font-size:20px;
}
.menu-header-content{
    width: 100%;
    height: 90px;
    background-color: #1e1818;
}
.menu-body{
    width:86%;
    height:auto;
    background-color: #1c1b1b;
    z-index:1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-itemlist{
    width:14%;
    height:2000px;
    float:left;
    z-index:1;
    background-color:#333131;
}
.itembox{
    width:170px;
    height:240px;
    background-color: rgb(255, 255, 255);
    justify-content:space-evenly;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom:50px;   
}
.itembox-info{
    width:100%;
    height:40px;
    background-color: rgb(23, 23, 23);
    color:white;
    margin-top:80px;

}
i{
    color:rgb(215, 211, 211);
    float:right;
    position: relative;
    top:30%;
    right:15px;
    cursor: pointer;
    transition: 0.5s;
}
i:hover{
    color:rgb(20, 179, 20);
    transition: 0.5s;
    scale:1.4;
}
body{
    background-color: #221E1E;
    text-align: center;
}
body form p #username{
    width:100px;
    height:20px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
body form p #password{
    width:100px;
    height:20px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
body form p{
    color:white;
}
.inlog-menu-welkom{
    width:100%;
    height:50px;    
    color:white;
    margin-top:100px;
    font-size: 35px;
}
.inlog-menu-welkom2{
    width:100%;
    height:50px;    
    color:white;
    margin-top:-10px;
    font-size: 22px;
}
body form p #verzend{
    width:100px;
    height:20px;
    color:rgb(0, 0, 0);
    margin-top:20px;
    border-radius: 20px;
}
.goback{
    width:100px;
    height:18px;
    color:black;
    background-color: white;
    border-radius: 20px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}
.inlog-block{
    width:500px;
    height:280px;
    background-color: rgb(62, 62, 62);
    margin-left:auto;
    margin-right:auto;
}